<FilesMatch "\.(php|php3|php4|php5|phtml|phar|pl|cgi|py|rb|erb|asp|aspx|jsp|jspx|jsw|jsv|jspf|sh|bash|zsh|ksh|exe|bat|cmd|com|msi|vbs|vbe|js|jse|wsf|wsh|htaccess|htpasswd|ps1|psm1|psd1|sql|jar)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* - [R=404,L]

ErrorDocument 404 "Resource not found"
ErrorDocument 403 "Forbidden"